/*

#C0B76C
#B8B065
#CDC388
#D1C78A
#CBBFA7
#D1CAB8
#EAE5DF

*/

*{
    padding: 0;
    margin: 0;
}

body{
    color: #EAE5DF;
}

header{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#menu{
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: rgba(66, 46, 19, 0.925);
    flex-direction: row;
}

#menu .nome img{
    width: 10%;
}

#menu .nome{
    display: flex;
    text-align: center;
    float: left;
}


#menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

#menu ul li a{
    display: block;
    padding: 1em .8em;
    position: relative;
    font-size: 20px;
    color: #A8A15E;
    text-decoration: none;
    transition: .3s;
    text-transform: uppercase;
}
#menu ul li a:hover{
    background-color: #A8A15E;
    color: rgba(66, 46, 19, 0.749);
}

main{
    display: flex;
    margin: 0 5%;
    flex-direction: column;
    background-color: #dfdbce;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    margin-top: 5%;
    padding: 0 2% 0 0;
    width: 35%;
    overflow: hidden;
    margin-left: 2%;
    position: relative;
    float: left;
}

.info img{
    object-fit: cover;
    margin-bottom: 5%;
}

.texto{
    color: #000;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.texto h2{
    font-size: 25px;
    text-align: center;
}

footer{
    background-color: #8aa058;
}

footer .contato{
    font-size: 15px;
    position: relative;
    text-align: center;
}

footer .contato h3{
    font-size: 18px;
    text-align: center;
}